body {
    top: 0;
    left: 0;
    margin: 0;
    touch-action: none;
    background: #000;
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

#slidecontainer {
    position: absolute;
    width: 100%;
    align-items: center;
    top: 25px;
    padding: 0;
    background: #000;
    height: 50px;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    align-self: center;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.button {
    border-radius: 25px;
    border: none;
    color: #d3d3d3;
    width: 70px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    bottom: 0;
    outline: none;
    background-color: white;
    color: black;
    left: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}